---
import Layout from '../layouts/myLayout-both.astro';
import Card from '../components/Card.astro';
---

<Layout title="ordoor's site." leftColumn={false}>
	<span id="greeting">Hello!</span> I go by ordoor online and I am currently trying they/them pronouns.<br><br>If you can't already tell I'm quite into Undertale, Deltarune and other quirky Mother-inspired RPGs. <br><br>
                I code sometimes as a hobby althought I'm really bad and only really know vanilla javascript. I'm also quite the <a href="https://en.wikipedia.org/wiki/The_Owl_House">Owl House</a> enjoyer. <br><br>
                I enjoy learning things I like and watch too many video essays/educational shows. I occasionally watch anime and TV but I've only started recently so <a href="/contact">let me know</a> if there is a classic show that you would like me to watch.
</Layout>
