---
import Layout from '../layouts/myLayout-both.astro';
---

<Layout title="ordoor's site." leftColumn={false}>
	Thanks to everyone whose works I "borrowed" for this website
                <ul>
                    <li>This background is an asset from <a href="https://www.omori-game.com/">OMORI</a>. Play it! It's
                        an amazing game!</li>
                    <li>Website inspiration came from <a href="https://deep-freezer.neocities.org/">Cold</a> (which itself comes form <a href="https://sadgrl.online/projects/layout-builder/">here</a>). Although I
                        did not use any of the code, it was the inspiration for what this website would look like.</li>
                    <li>Changelog layout came from <a href="https://wiregrrrl.neocities.org/">WIREGRRRL</a></li>
                    <li>The music player comes from <a
                            href="https://deltarune.com/sweepstakes/">https://deltarune.com/sweepstakes/</a>. The CSS
                        (styling aka appearance) was taken directly and the javascript was inspired from this site.</li>
                    <li>The music comes from
                        <ul>
                            <li><a href="https://www.omori-game.com/">OMORI</a></li>
                            <li><a href="https://deltarune.com/">Deltarune</a></li>
                            <li><a href="https://undertale.com/">Undertale</a></li>
                            <li><a href="https://www.oneshot-game.com/">OneShot</a></li>
                            <li><a href="https://www.celestegame.com/">Celeste</a></li>
                        </ul>
                    </li>
					<li> This site is using <a href="https://astro.build/">Astro</a> </li>
                </ul>
</Layout>
