---
import Layout from '../layouts/myLayout-both.astro';
---

<Layout title="ordoor's site." leftColumn={true}>
	<span id="greeting">Hello!</span> I'm ordoor and this is my website. It may be a bit sparse but it should contain some of my links and important pages.
</Layout>
